body {
	background: url("../images/bg_01.jpg");
	background-size: cover;
	background color: #000000;
	color: #ffffff;
	height: 100vh;
	}

.enemy-area{
	width: 50%;
	margin: 0;
	height: 85vh;
	float: left;
	box-sizing: border-box;
	position: relative;
}

.battle-area {
	width: 50%;
	margin: 0;
	height: 85vh;
	float: left;
	box-sizing: border-box;
	position: relative;
}

.defender-area {
	width: 33%;
	box-sizing: border-box;
	float: left;
	position: relative;
}

.attack-button {
	width: 33%;
	box-sizing: border-box;
	float: left;
	height: 400px;
}

.current-enemy-area {
	width: 33%;
	box-sizing: border-box;
	float: left;
	position: relative;
}


img {
	height: 400px;
	/*float: left;*/
	position: absolute;
	bottom: 0;
}

.name {
	text-transform: uppercase;
	text-align: center;
}

h1, h2 {
	text-align: right;
}

.life-score {
	position: absolute;
    bottom: 17px;
    text-align: center;
    width: 100%;
}

.attack-score {
	position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.hide {
	display: none;
}

.character{
	height: 400px;
	float: left;
}

#phaedra {
	background: url("../images/PP_01.png");
	background-size: contain;
	background-repeat: no-repeat;	
	width: 130px;		
}
#porsha {
	background: url("../images/PW_01.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 130px;	
}
#nene {
	background: url("../images/NL_01.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 130px;	
}
#kenya {
	background: url("../images/KM_01.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
}